# Required
CANVAS_BASE_IMAGE=registry.example.com/canvas-base:TAG
POSTGRES_PASSWORD=change-me
ENCRYPTION_KEY=change-me
CANVAS_DOMAIN=canvas.example.com
CANVAS_PRODUCT_NAME=Your Deployment Name

# Optional overrides
CANVAS_DATABASE_USERNAME=postgres
CANVAS_DATABASE_PRODUCTION=canvas_production
CANVAS_DOMAIN_SSL=true
CANVAS_FILES_DOMAIN=
CANVAS_PORT=3000
